<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Users</a></li>
                <li><a href="/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>
    
    <form action="/add-user" method="POST">
        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        
        
            <button type="submit">Add User</button>
        </div>
    </form>
</body>
</html>